<nav class="navbar fixed-bottom bg-body-tertiary">
    <div class="container-fluid">
    <small>Copyright &copy; Infinity Marketplace</small>
    </div>
</nav>
<link rel="stylesheet" href="./css/homeStyle.css">
<link rel="stylesheet" href="/css/style.css">

</body>
</html>