<%- include('partials/header') -%>

<div class="row">
    <div class="column">
    <form actions="/register" method="post">
      <h2>New User? Create An Account</h2>
      <a class="nav-link" href="/register">Register</a>
    </form>
    </div>

    <div class="column">
      <h2>Log in to an Existing Account</h2>
      <a class="nav-link" href="/login">Login</a>
    </div>
  </div>

<%- include('partials/footer') -%>