<%- include('partials/header') -%>

<div class="row">
    <div class="column">
    
    </div>

    <div class="column">
    <form actions="/login" method="post">
      <h2>Log in to an Existing Account</h2>
      <p>Log in as</p>
      <input type="text" id="username" name="username"><br><br>
      <button>Log In</button><br>
      <p>Username not found.</p>
    </form>
    </div>
  </div>

<%- include('partials/footer') -%>