<%- include('partials/header') -%>

<div class="row">
    <div class="column">
    <form actions="/register" method="post">
      <h2>New User? Create An Account</h2>
      <p>Choose a Unique Username</p>
      <input type="text" id="username" name="username"><br><br>
      <p>Enter Your Name</p>
      <input type="text" id="name" name="name"><br><br>
      <p>Choose a Starting Balance</p>
      <input type="text" id="balance" name="balance"><br><br>
      <button>Register</button>
      <p id="error" name="error">Username already exists.</p>
    </form>
    </div>

    <div class="column">
      
  </div>

<%- include('partials/footer') -%>